@import '~antd/dist/antd.css';

.footer {
    background-color: #012A4A;
    height: 80px;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    list-style-type: none;
    position: fixed;
    bottom: 0;
}

.footer-text {
    color: lightgray;
    font-size: 0.9rem;
    position: fixed;
    bottom: 30px;
    width: 100%;
}