@import '~antd/dist/antd.css';

.profileImage {
    min-height: 150px;
    height: 150px;
    min-width: 150px;
    width: 150px;
    object-fit: cover; /* unwarps pictures */
    border-radius: 50%;
}

.profileName {
    font-weight: bold;
    margin-top: 10px;
}