@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* override default border from ant design */
/* easier way: delete ant-card-bordered class from html */
.ant-card-bordered {
    border: none;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    font-weight: 600;
}

