@import "~antd/dist/antd.css";

.header {
  font-weight: bold;
  text-align: center;
}

.contact-cols {
  display: flex;
}

.contact-icon-col {
  justify-content: center;
}

.contact-form-col {
  justify-content: center;
}

.contact-icon {
  max-width: 50%;
  height: auto;
}

.contact-us {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  width: 100%;
  height: 80vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.contact-icon {
  border-radius: 15px;
}

.header {
  margin-top: 20px;
}

.contact-form-col {
  margin-top: 50px;
}
