@import '~antd/dist/antd.css';
   
.navbar {
  background-color: #2a2a2a;
  height: 80px;
  text-align: center;
  font-size: 1.2rem;
  list-style-type: none;
}

.navbar ul {
    padding: 10px 0;
    margin: 0;
}

.navbar li {
    display: inline-block;
    float: right;
    margin-right: 5px;
}

.nav-link h3{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
  }
  
.nav-link:hover h3{
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.logo-image {
  height: 60px;
}

.nav-left {
  position: absolute;
  left: 5px;
  top: 5px;
}